  <body class= "has-background-grey">
    
    <section class="hero is-small is-dark has-text-centered">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              
              <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="" name="uname" required>
            
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="" name="psw" required>
            
                <button type="submit">Login</button>
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
              </div>
            </div>
          </div>
        </nav>
      </div>
        <div class="hero-body">
          
          <div class="container">
            <h1 class="title">
             O.A.T
            </h1>
            
          </div>
        </div>
      </section>
    <br>

    <form>
          <div class="columns is-centered">
                <div class="column is-3">
                  <div class="select">
                    <select>
                      <option>Supplier</option>
                      <option>With options</option>
                    </select>
                  </div>
                </div>
        
            
            <div class="column is-2">
                <div class="select">
                    <select>
                      <option>Options</option>
                      <option>View Allocation</option>
                      <option>Add</option>
                      <option>Delete</option>
                      <option>Update</option>
                    </select>
                  </div>
            </div>

            <div class="column is-2">
                <div class="select">
                    <select>
                      <option>Select Item</option>
                      <option></option>
                    </select>
                  </div>
            </div>

            <div class="column is-1">
               <input class="button" type="submit" value="Submit">
            </div>

            <div class="column is-1">
              <input class="button" type="reset" value="Reset">
           </div>


          
        </form>
    
   
  </body>