
<div class="row burgerBox">
   <h3>Eat da Burger!</h3>
  <div class="col s6 orderedContainer">
        <div class="orderedBox">
          <h4>Ordered Burgers</h4>
          <ul>
            {{#each burgerdb}}
            {{#unless devoured}}
            {{> b/b-block devoured=true}}
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="col s6 orderAgainContainer">

        <div class="orderagainbox">
          <h4>Yum! Want another?</h4>
          <ul>
            {{#each burgerdb}}
            {{#if devoured}}
            {{> b/b-block devoured=false}}
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='displayBox row'>
    <div class='s12'>
        <form class='create-form'>
            <h5><i class="far fa-clipboard fa-2x"> Place Order</i></h5>
            <div class="form-group">
                <input type="text" id="bb" name="name" placeholder="Burger name goes here!">
                <button class="submit-btn" type="submit" name="action">Submit Order!</button>
            </div>
        </form>    
    </div>
</div>
