{{< form}}

<form>

    

        <div class="columns is-centered">
                <div class="column is-3">
                  <div class="column is-1">
                    <input class="input" type="text" placeholder="input item">
                  </div>
                </div>
        </div>
        
        
        
        
          <div class="columns is-centered">
                <div class="column is-3">
                  <div class="column is-1">
                    <input class="button" type="submit" value="Delete">
                  </div>
                </div>
           </div>
</form>