.columns {
  border: solid black 3px;
  margin-top: -.10rem;
  margin-left: 0px;
  margin-right: 305px;
  margin-bottom: 2px;

}

.column {
  border: solid black 3px;
  padding: 1px;
  margin: 0;

}

