
body {
  height: 50rem;
  background-color:hsl(171, 100%, 41%);
 
}

.columns {

  margin-top: -.10rem;
  margin-left: 0px;
  margin-right: 300px;
  margin-bottom: 2px;

}

.column {
  border: solid black 3px;
  padding: 1px;

}

select {
  width: 100%;
}

.select {
  width: 100%;

}

h1 {
  text-align: center;
}
